# Load Data

In [15]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sn
import warnings
warnings.filterwarnings('ignore')

In [16]:
pd.options.display.max_colwidth = 200
pd.read_excel('Data_Description.xlsx', sheet_name='Description')[['Variable', 'Definition']]

,Variable,Definition
0,label,"Flag indicating whether the user paid back the credit amount within 5 days of issuing the loan{1:success, 0:failure}"
1,msisdn,mobile number of user
2,aon,age on cellular network in days
3,daily_decr30,"Daily amount spent from main account, averaged over last 30 days (in Indonesian Rupiah)"
4,daily_decr90,"Daily amount spent from main account, averaged over last 90 days (in Indonesian Rupiah)"
5,rental30,Average main account balance over last 30 days
6,rental90,Average main account balance over last 90 days
7,last_rech_date_ma,Number of days till last recharge of main account
8,last_rech_date_da,Number of days till last recharge of data account
9,last_rech_amt_ma,Amount of last recharge of main account (in Indonesian Rupiah)
10,cnt_ma_rech30,Number of times main account got recharged in last 30 days
11,fr_ma_rech30,Frequency of main account recharged in last 30 days
12,sumamnt_ma_rech30,Total amount of recharge in main account over last 30 days (in Indonesian Rupiah)
13,medianamnt_ma_rech30,Median of amount of recharges done in main account over last 30 days at user level (in Indonesian Rupiah)
14,medianmarechprebal30,Median of main account balance just before recharge in last 30 days at user level (in Indonesian Rupiah)
15,cnt_ma_rech90,Number of times main account got recharged in last 90 days
16,fr_ma_rech90,Frequency of main account recharged in last 90 days
17,sumamnt_ma_rech90,Total amount of recharge in main account over last 90 days (in Indonesian Rupiah)
18,medianamnt_ma_rech90,Median of amount of recharges done in main account over last 90 days at user level (in Indonesian Rupiah)
19,medianmarechprebal90,Median of main account balance just before recharge in last 90 days at user level (in Indonesian Rupiah)
20,cnt_da_rech30,Number of times data account got recharged in last 30 days
21,fr_da_rech30,Frequency of data account recharged in last 30 days
22,cnt_da_rech90,Number of times data account got recharged in last 90 days
23,fr_da_rech90,Frequency of data account recharged in last 90 days
24,cnt_loans30,Number of loans taken by user in last 30 days
25,amnt_loans30,Total amount of loans taken by user in last 30 days
26,maxamnt_loans30,maximum amount of loan taken by the user in last 30 days
27,medianamnt_loans30,Median of amounts of loan taken by the user in last 30 days
28,cnt_loans90,Number of loans taken by user in last 90 days
29,amnt_loans90,Total amount of loans taken by user in last 90 days
30,maxamnt_loans90,maximum amount of loan taken by the user in last 90 days
31,medianamnt_loans90,Median of amounts of loan taken by the user in last 90 days
32,payback30,Average payback time in days over last 30 days
33,payback90,Average payback time in days over last 90 days
34,pcircle,telecom circle
35,pdate,date

In [17]:
df = pd.read_csv('sample_data_intw.csv')
df.head()
df.shape

,Unnamed: 0,label,msisdn,aon,daily_decr30,daily_decr90,rental30,rental90,last_rech_date_ma,last_rech_date_da,...,maxamnt_loans30,medianamnt_loans30,cnt_loans90,amnt_loans90,maxamnt_loans90,medianamnt_loans90,payback30,payback90,pcircle,pdate
0,1,0,21408I70789,272.0,3055.050000,3065.150000,220.13,260.13,2.0,0.0,...,6.0,0.0,2.0,12,6,0.0,29.000000,29.000000,UPW,2016-07-20
1,2,1,76462I70374,712.0,12122.000000,12124.750000,3691.26,3691.26,20.0,0.0,...,12.0,0.0,1.0,12,12,0.0,0.000000,0.000000,UPW,2016-08-10
2,3,1,17943I70372,535.0,1398.000000,1398.000000,900.13,900.13,3.0,0.0,...,6.0,0.0,1.0,6,6,0.0,0.000000,0.000000,UPW,2016-08-19
3,4,1,55773I70781,241.0,21.228000,21.228000,159.42,159.42,41.0,0.0,...,6.0,0.0,2.0,12,6,0.0,0.000000,0.000000,UPW,2016-06-06
4,5,1,03813I82730,947.0,150.619333,150.619333,1098.90,1098.90,4.0,0.0,...,6.0,0.0,7.0,42,6,0.0,2.333333,2.333333,UPW,2016-06-22

(209593, 37)

In [18]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size=0.2,random_state=1)
"train:", train.shape
"test:", test.shape

('train:', (167674, 37))

('test:', (41919, 37))

In [19]:
train.drop(['Unnamed: 0','msisdn','pcircle','pdate'],axis=1,inplace=True)
test.drop(['Unnamed: 0','msisdn','pcircle','pdate'],axis=1,inplace=True)

In [20]:
train.fillna(train.mean(), inplace=True)
test.fillna(test.mean(), inplace=True)

In [21]:
# check
train.apply(lambda x: pd.to_numeric(x, errors='coerce'))
test.apply(lambda x: pd.to_numeric(x, errors='coerce'))

,label,aon,daily_decr30,daily_decr90,rental30,rental90,last_rech_date_ma,last_rech_date_da,last_rech_amt_ma,cnt_ma_rech30,...,cnt_loans30,amnt_loans30,maxamnt_loans30,medianamnt_loans30,cnt_loans90,amnt_loans90,maxamnt_loans90,medianamnt_loans90,payback30,payback90
69724,0,240.0,8.000000,8.000000,1569.60,1569.60,7.0,0.0,770,1,...,1,6,6.0,0.0,1.0,6,6,0.0,0.0,0.000000
136917,1,742.0,12.900000,12.900000,44.10,44.10,4.0,0.0,773,2,...,3,18,6.0,1.0,3.0,18,6,1.0,7.0,7.000000
172099,1,91.0,19012.634667,19065.690000,14002.06,15832.84,3.0,0.0,3178,9,...,1,12,12.0,0.0,1.0,12,12,0.0,0.0,0.000000
88803,1,466.0,8468.000000,8734.440000,800.52,1040.52,1.0,0.0,1539,3,...,4,24,6.0,0.0,8.0,48,6,0.0,3.0,4.125000
70250,1,1405.0,17029.748000,17121.320000,2359.28,3365.48,6.0,0.0,8000,3,...,1,12,12.0,0.0,1.0,12,12,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109259,0,179.0,20.000000,20.000000,434.78,434.78,0.0,0.0,0,0,...,1,6,6.0,0.0,1.0,6,6,0.0,0.0,0.000000
50057,1,338.0,81.187333,81.187333,933.46,933.46,7.0,0.0,2309,2,...,3,18,6.0,0.0,3.0,18,6,0.0,4.0,4.000000
5192,1,316.0,10051.571667,10134.430000,1914.10,2495.85,1.0,0.0,770,8,...,5,30,6.0,0.0,9.0,54,6,0.0,2.2,2.222222
208780,1,503.0,1980.509667,1995.290000,19.65,589.50,39.0,0.0,1539,0,...,1,6,6.0,0.0,1.0,6,6,0.0,0.0,0.000000
128037,1,864.0,8387.000000,10020.720000,499.96,1060.80,2.0,0.0,1539,2,...,2,12,6.0,0.0,2.0,12,6,0.0,33.0,33.000000

,label,aon,daily_decr30,daily_decr90,rental30,rental90,last_rech_date_ma,last_rech_date_da,last_rech_amt_ma,cnt_ma_rech30,...,cnt_loans30,amnt_loans30,maxamnt_loans30,medianamnt_loans30,cnt_loans90,amnt_loans90,maxamnt_loans90,medianamnt_loans90,payback30,payback90
195331,1,201.0,2842.400000,2853.000000,439.25,474.89,1.0,0.0,1539,5,...,3,18,6.0,0.0,3.0,18,6,0.0,5.500,5.500000
61584,1,189.0,73.905000,73.905000,448.76,448.76,6.0,0.0,3178,1,...,1,6,6.0,0.0,1.0,6,6,0.0,0.000,0.000000
103931,1,192.0,21.237000,21.237000,182.10,182.10,7.0,0.0,2320,1,...,1,6,6.0,0.0,1.0,6,6,0.0,0.000,0.000000
113088,1,1046.0,87.583667,87.583667,-66.69,-66.69,1.0,0.0,1547,5,...,5,30,6.0,0.0,5.0,30,6,0.0,1.600,1.600000
95108,1,183.0,14969.120000,15164.900000,4321.07,5750.55,4.0,0.0,2309,8,...,5,30,6.0,0.0,6.0,36,6,0.0,2.250,2.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74792,1,634.0,32664.130333,32710.070000,2158.10,2887.57,7.0,0.0,5787,9,...,5,60,12.0,0.0,5.0,60,12,0.0,2.250,2.250000
10613,1,135.0,3319.200000,3324.000000,4623.29,5225.93,3.0,0.0,1539,5,...,2,12,6.0,0.0,2.0,12,6,0.0,0.000,0.000000
63990,1,2041.0,14059.400000,14162.000000,2034.63,2433.44,1.0,0.0,1539,14,...,8,48,6.0,0.0,14.0,84,6,0.0,3.875,3.076923
154953,0,862.0,12.122000,12.122000,1220.18,1220.18,13.0,0.0,1924,1,...,1,6,6.0,0.0,1.0,6,6,0.0,0.000,0.000000
183373,0,297.0,0.000000,0.000000,978.66,978.66,0.0,0.0,0,0,...,1,6,6.0,0.0,1.0,6,6,0.0,0.000,0.000000

In [22]:
from sklearn.utils import resample
train_positive=train[train.label==1]
train_negative=train[train.label==0]

print("train:", train.shape, "= positive:", train_positive.shape, "+ negative:", train_negative.shape)

train_upsamp=resample(train_negative,replace=True,n_samples=train_positive.shape[0],random_state=1)
train_upsamp=pd.concat([train_positive,train_upsamp])

print("upsampled train:", train_upsamp.shape, "= positives:", train_upsamp[train_upsamp['label']==1].shape, "+ upsampled negatives:", train_upsamp[train_upsamp['label']==0].shape)

train: (167674, 33) = positive: (146692, 33) + negative: (20982, 33)
upsampled train: (293384, 33) = positives: (146692, 33) + upsampled negatives: (146692, 33)

In [23]:
y_train = train_upsamp.label
y_test = test.label

In [24]:
cols = [str(i) for i in train.columns]

In [25]:
from sklearn.preprocessing import Normalizer
train_normalized = Normalizer().fit_transform(train_upsamp)
train_normalized = pd.DataFrame(train_normalized, columns=cols)
test_normalized = Normalizer().fit_transform(test)
test_normalized = pd.DataFrame(test_normalized, columns=cols)

In [27]:
x_train = train_normalized.copy().drop(['label'],axis=1,inplace=True)
x_test = test_normalized.copy().drop(['label'],axis=1,inplace=True)

In [28]:
x_train.shape

AttributeError: 'NoneType' object has no attribute 'shape'

## Using Random Forest Classifier

In [14]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import RFE
rfe=RFE(RandomForestClassifier(verbose=1),25)

In [16]:
# x = x_train.values
# fit=rfe.fit(x,y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:  1.6min finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:  1.6min finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:  1.6min finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:  1.7min finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:  1.8min finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:  1.8min finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:  2.0min finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:  1.9min finished

In [ ]:
from sklearn.metrics import accuracy_score,precision_score,recall_score
from sklearn.metrics import classification_report

In [ ]:
def train_and_predict(x_train, y_train, model) :
    model.fit(x_train, y_train)
    prediction = model.predict(x_test)
    
    accuracy = round(accuracy_score(prediction,y_test)*100,2)
    precision = round(precision_score(prediction,y_test)*100,2)
    recall = round(recall_score(prediction,y_test)*100,2)
    
    print("accuracy:", accuracy)
    print("precision:", precision)
    print("recall:", recall)
    
    print(classification_report(prediction,y_test))

In [39]:
test_rfe = [ True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False, False, False,  True,  True,  True, False,  True,
        True,  True, False,  True,  True]
x_train = x_train[x_train.columns[test_rfe]]
# x_test = x_test[x_test.columns[test_rfe]]

IndexError: boolean index did not match indexed array along dimension 0; dimension is 25 but corresponding boolean dimension is 32

In [40]:
x_train.shape

(293384, 25)

In [35]:
model = RandomForestClassifier(verbose=1)

In [37]:
model.fit(x_train, y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:  2.1min finished

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=1, warm_start=False)

In [42]:
prediction=model.predict(x_test)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.8s finished

In [46]:
# type(prediction)
# prediction.shape
# prediction.mean()

numpy.ndarray

(41919,)

0.9080130728309359

In [48]:
from sklearn.metrics import accuracy_score,precision_score,recall_score
accuracyscore=round(accuracy_score(prediction,y_test)*100,2)
precScore=round(precision_score(prediction,y_test)*100,2)
recallScore=round(recall_score(prediction,y_test)*100,2)
print("          #####################")
print("          #Accuracy  : ",accuracyscore,'#')
print("          #Precision : ",precScore,'#')
print("          #Recall    : ",recallScore,'#')
print("          #####################")

          #####################
          #Accuracy  :  90.63 #
          #Precision :  96.46 #
          #Recall    :  93.1 #
          #####################

In [51]:
from sklearn.metrics import classification_report
print(classification_report(prediction,y_test))

              precision    recall  f1-score   support

           0       0.49      0.66      0.57      3856
           1       0.96      0.93      0.95     38063

    accuracy                           0.91     41919
   macro avg       0.73      0.80      0.76     41919
weighted avg       0.92      0.91      0.91     41919

## Now using SMOTE
Synthetic Minority Oversampling Technique (SMOTE) is a data augmentation technique that creates synthetic minority class examples. It used when there is a class imbalance in the training data.

In [55]:
from imblearn.over_sampling import SMOTE

In [57]:
sm = SMOTE(random_state=27)
x_train, y_train = sm.fit_sample(x_train, y_train)